*, *:before, *:after {
    box-sizing: border-box;
  }


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    height: 72px;
    display: flex;
    background: #1f2937;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.headerLinks {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.headerLinks > * a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container {
    max-width: 990px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}   

.logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.firstContent {
    display: flex;
    background: #1f2937;
    justify-content: center;
    flex: 1;
}

.secondContent {
    display: flex;
    flex-direction: column;
    align-items: center ;
    flex: 1;
}

ul {
    list-style: none;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.rowOfImages {
    display: flex;
    gap: 10px;
}

.thirdContent {
    background-color: #e5e7eb;
    flex: 1;
}

.imageWithContentBelow > img {
    height: 300px;
    width: 300px;
    border-radius: 15px;
}

.imageWithContentBelow {
    display: flex;
    flex-direction: column;
    flex: 1, 1, 0;
}

.footer {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: #f9faf8;
    flex-grow: 1;
    flex-shrink: 0;
}


.intro {
    display: flex;
}

.introText {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}