body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header {
    height: 72px;
    display: flex;
    background: #1f2937;
    justify-content: space-between;
    align-items: center;
}

.headerLinks {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.headerLinks > * a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.firstContent {
    display: flex;
    background: #1f2937;
}

ul {
    list-style: none;
}

.footer {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: #f9faf8;
}

